<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty name="APP_NAME" source="spring.application.name"/>
    <springProperty name="LOKI_URL" source="app.logging.loki-url" defaultValue="http://localhost:3100/loki/api/v1/push"/>

    <conversionRule conversionWord="clr"
                    class="org.springframework.boot.logging.logback.ColorConverter"/>

    <conversionRule conversionWord="wex"
                    class="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%clr(%d{HH:mm:ss}){faint} %clr(%-5p) %clr([${APP_NAME},%X{traceId},%X{spanId}]){cyan} %clr(%logger{36}){blue} - %msg%n%wex</pattern>
        </encoder>
    </appender>

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>${LOKI_URL}</url>
        </http>
        <format>
            <label>
                <pattern>app=${APP_NAME},level=%level</pattern>
            </label>
            <message>
                <pattern>%d{HH:mm:ss} %-5p [${APP_NAME},%X{traceId},%X{spanId}] %logger{36} - %msg%n</pattern>
            </message>
        </format>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOKI"/>
    </root>

</configuration>